// Colores

$c-fondoGral: #EACFFE; // Lila
$c-noActivo: #241527; // Berenjana
$c-enfasis: #A4DE16; // Lima
$c-tarjetas: #38243A; // Purpura
$c-identidad: #496600; // Oliva
$c-textoClaro: #F8F3F5; // Blánco cálido



